@media screen and (min-width: 768px) {
  .side {
    margin-bottom: 15rem;
    /* border: 2px solid red; */
    margin-right: 45rem;
    text-align: left;
    width: 450px;
  }
  .side h5 {
    margin-right: 2rem;
    font-weight: 700;
    font-family: "Sora", sans-serif;
    font-size: 40px;
  }
  .btn {
    margin-top: 2rem;
    margin-right: 10rem;
  }
  .image {
    height: 100vh;
  }
}

@media screen and (max-width: 767px) {
  .side {
    top: 2rem;
    /* margin-bottom: 8rem; */
    /* border: 2px solid red; */
    text-align: left;
  }
  .side h5 {
    margin-bottom: 5rem;
    font-weight: 700;
  }
  .image {
    height: auto;
    width: auto;
  }
  .beep {
    padding: 5px 10px;
    border: 2px solid red;
    /* width: 1000px; */
    font-size: 50px;
    font-weight: bolder;
    /* height: 500px; */
  }
}
