* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}
.underline {
  color: rgb(4, 4, 56);
  font-weight: 600;
}
.price {
  font-family: "Sora", sans-serif;
  margin-top: 3rem;
  margin-bottom: 0;
  color: rgb(37, 36, 36);
}
.aboutit {
  max-width: 80%;
  color: rgb(4, 4, 56);
  font-weight: 600;
}
.ninja-title {
  font-weight: bolder;
  font-family: "Sora", sans-serif;
  color: rgb(37, 36, 36);
}
.add {
  width: 50px;
  border: none;
  color: gray;
  font-size: 24px;
}
.numb {
  width: 50px;
  border: none;
  height: 45px;
  color: black;
  background-color: rgb(207, 202, 202);
}
.add-cart {
  background-color: rgb(34, 33, 33);
  font-weight: 700;
  padding: 10px 20px;
  border: none;
  color: white;
  margin-left: 5px;
}
.sku {
  font-size: 16px;
  margin-top: 4rem;
  font-weight: 600;
}
.sku p {
  margin-left: 1rem;
}
.pic {
  height: 600px;
  cursor: pointer;
  cursor: default;
  width: 100%;
}
.second-ninja-pic {
  opacity: 60%;
  border-left: 1px solid gray;
}
.second-ninja-pic:hover {
  opacity: 100%;
}
.numb::placeholder {
  text-align: center;
  color: black;
  font-size: 16;
  font-weight: 700;
  /* border: 2px solid red; */
}
.tshirt-product {
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .pic {
    height: 80%;
  }
  .ninja-title {
    margin-top: 3rem;
  }
}
