.archive {
  border: 2px solid #adaaaa;
  margin: 2rem;
  width: 500px;
  box-shadow: 5px 10px 5px 5px #888888;
  padding-left: 2rem;
  font-family: "DM Sans", sans-serif;
}
.archive h2 {
  font-weight: bold;
  font-family: "Sora", sans-serif;
  margin-top: 2rem;
}
.input {
  height: 40px;
  width: 70%;
  /* margin-left: 2rem; */
  background-color: rgb(214, 238, 247);
  border: 1px solid rgb(214, 238, 247);
}
::placeholder {
  color: rgb(110, 110, 110);
  padding-left: 0.5rem;
}
.button {
  margin-bottom: 2rem;
  margin-left: 0.5rem;
  /* padding: 8px; */
  width: 30%;
  border: 1px solid rgb(36, 36, 116);
  background-color: rgb(36, 36, 116);
  border-radius: 0;
  text-transform: uppercase;
}
.button:hover {
  background-color: rgb(48, 47, 47);
  border: 1px solid rgb(48, 47, 47);
}
.pro-pic {
  width: 40px;
  height: 40px;
  margin-right: 10rem;
}
.archive h5 {
  margin-bottom: 0;
  font-weight: bold;
  font-family: "DM Sans", sans-serif;
  cursor: pointer;
  font-size: 18px;
}
.archive h5:hover {
  color: rgb(89, 89, 206);
}

@media screen and (max-width: 767px) {
  .archive {
    width: 85%;
    margin: 1.5rem;
  }
  .top {
    padding: 1rem;
  }
  .button {
    margin-bottom: 0;
  }
  .pro-pic {
    margin-right: 2rem;
  }
}
